@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ---------- ЗАГАЛЬНЕ ---------- */
:root {
     --orange: #ff4b2b;
     --plus: #5334ff;

     font-size: 15px;
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     position: relative;
     font-family: 'Rubik', sans-serif;
     line-height: 1.2;
}

/* Тимчасово */
img {
     width: 250px;
}

/* ---------- СТИЛІ ДЛЯ ГОЛОВНОЇ СТОРІНКИ (телефон) ---------- */

.wrap-heading {
     width: 90%;
     height: auto;
     padding: 5px;
     position: absolute;
     left: 10px;
     top: 25px;
}

.wrap-heading h1{
     font-size: 1.2rem;
     font-weight: 500;
}

.wrap-heading p{
     font-size: 1rem;
     font-weight: 400;
}


.wrap-content {
     position: absolute;
     left: 15px;
     top: 100px;
     width: 90%;
     height: auto;
     padding: 5px;
     margin: 5px;
}

.group {
     border-bottom: 2px solid black;
     position: relative;
     width: 100%;
     height: auto;
     margin-bottom: 5px;
}

.group-plus {
     cursor: pointer;
     color: var(--plus);
     display: inline-block;
     font-size: 1.7rem;
     font-weight: 600;
     position: relative;
     top: 0px;
     left: 0px;
}

.group-heading {
     display: inline-block;
     font-size: 1.2rem;
     font-weight: 500;
     position: relative;
     top: 0px;
     left: 5px;
     margin-bottom: 10px;
}

.group-text {
     display: none;
}

.group-img {
     display: none;
}

.group-text-active {
     font-size: 1.1rem;
     font-weight: 400;
     line-height: 1.2;
     display: inline-block;
     position: relative;
     top: 0px;
     left: 30px;
     margin-bottom: 10px;
     width: 250px;
}

.group-img-active {
     display: inline-block;
     width: 75%;
     max-width: 300px;
     margin: 10px;
}



/* ---------- СТИЛІ ДЛЯ ГОЛОВНОЇ СТОРІНКИ (комп'ютер) ---------- */

@media (min-width: 769px) {

     .wrap-heading {
          width: 50%;
          height: auto;
          padding: 5px;
          position: absolute;
          left: 50px;
          top: 100px;
     }

     .wrap-heading h1{
          font-size: 1.6rem;
     }
     
     .wrap-heading p{
          font-size: 1.4rem;
     }

     .wrap-content {
          max-width: 500px;
          padding: 15px;
          position: absolute;
          left: 100px;
          top: 200px;
     }
     
     .group {
          border-bottom: 3px solid black;
          margin-bottom: 7px;
     }
     
     .group-plus {
          display: inline-block;
          font-size: 2rem;
     }
     
     .group-heading {
          display: inline-block;
          font-size: 1.5rem;
          left: 7px;
          margin-bottom: 7px;
     }
     
     .group-text-active {
          font-size: 1.25rem;
          display: inline-block;
     }

}